java:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  environment:
    IDAM_S2S_AUTH: "http://rpe-service-auth-provider-aat.service.core-compute-aat.internal"
    IDAM_API_URL: https://idam-api.aat.platform.hmcts.net
    IDAM_API_JWK_URL: https://idam-api.aat.platform.hmcts.net/jwks

