java:
  image: 'hmctspublic.azurecr.io/sscs/bulk-scan:latest'
  applicationPort: 8090
  readinessPath: '/health/readiness'
  aadIdentityName: sscs
  ingressHost: sscs-bulk-scan-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
  keyVaults:
    sscs:
      secrets:
        - name: sscs-s2s-secret
          alias: S2S_SECRET
        - name: idam-sscs-systemupdate-user
          alias: IDAM_SSCS_SYSTEMUPDATE_USER
        - name: idam-sscs-systemupdate-password
          alias: IDAM_SSCS_SYSTEMUPDATE_PASSWORD
        - name: idam-sscs-oauth2-client-secret
          alias: IDAM_OAUTH2_CLIENT_SECRET
        - name: AppInsightsInstrumentationKey
          alias: azure.application-insights.instrumentation-key
  environment:
    ROOT_LOGGING_LEVEL: INFO
    LOG_OUTPUT: single
    IDAM_OAUTH2_REDIRECT_URL: "https://evidence-sharing-preprod.sscs.reform.hmcts.net"
    IDAM_URL: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net
    IDAM_API_JWK_URL: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net/jwks
    IDAM_OAUTH2_CLIENT_ID: "sscs"
    IDAM_S2S_AUTH_MICROSERVICE: "sscs_bulkscan"
    LOGBACK_REQUIRE_ALERT_LEVEL: "false"
    LOGBACK_REQUIRE_ERROR_CODE: "false"
    IDAM_S2S_AUTH: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    CORE_CASE_DATA_API_URL: http://ccd-data-store-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    DOCUMENT_MANAGEMENT_URL: http://dm-store-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    RD_LOCATION_REF_API_URL: http://rd-location-ref-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal