java:
  image: 'https://hmctspublic.azurecr.io/hmcts/sscs/bulk-scan:latest'
  applicationPort: 8090
  keyVaults:
    sscs-bulk-scan:
      resourceGroup: sscs-bulk-scan
      secrets:
        - sscs-s2s-secret
        - smtp-host
        - smtp-port
        - idam-sscs-systemupdate-user
        - idam-sscs-systemupdate-password
        - idam-sscs-oauth2-client-secret
  environment:
    REFORM_TEAM: sscs
    REFORM_SERVICE_NAME: bulk-scan
    REFORM_SERVICE_TYPE: java
    REFORM_ENVIRONMENT: preview
    ROOT_LOGGING_LEVEL: INFO
    LOG_OUTPUT: single
    IDAM_OAUTH2_REDIRECT_URL: "https://evidence-sharing-preprod.sscs.reform.hmcts.net"
