.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/out
*.iws
*.iml
*.ipr

.DS_store

# Terraform
infrastructure/.terraform/**
infrastructure/.terraform.lock.hcl
infrastructure/override.tf

# Application insight
lib/applicationinsights-agent-*.jar
lib/applicationinsights.log
