server:
  port: 8090

management:
  endpoint:
    health:
      show-details: "always"
  endpoints:
    web:
      base-path: /

spring:
  application:
    name: SscsBulkScan
  main:
    allow-bean-definition-overriding: true

ccd:
 case:
  jurisdiction: SSCS
  type: Benefit
  caseCreatedEventId: appealCreated
  validAppealCreatedEventId: validAppealCreated
  incompleteApplicationEventId: incompleteApplicationReceived
  nonCompliantEventId: nonCompliant

test.url: ${TEST_URL:http://localhost:8090}

core_case_data:
  jurisdictionId: ${CORE_CASE_DATA_JURISDICTION_ID:SSCS}
  caseTypeId: ${CORE_CASE_DATA_CASE_TYPE_ID:Benefit}
  api:
    url: ${CORE_CASE_DATA_API_URL:http://localhost:4452}

idam:
  url: ${IDAM_URL:http://localhost:5000}
  s2s-auth:
    totp_secret: ${S2S_SECRET:AAAAAAAAAAAAAAAD}
    microservice: ${IDAM_S2S_AUTH_MICROSERVICE:sscs_bulkscan}
    url: ${IDAM_S2S_AUTH:http://localhost:4502}
  oauth2:
    user:
      email: ${IDAM_SSCS_SYSTEMUPDATE_USER:system.update@hmcts.net}
      password: ${IDAM_SSCS_SYSTEMUPDATE_PASSWORD:Pa55word11}
    client:
      id: ${IDAM_OAUTH2_CLIENT_ID:sscs}
      secret: ${IDAM_OAUTH2_CLIENT_SECRET:QM5RQQ53LZFOSIXJ}
    redirectUrl: ${IDAM_OAUTH2_REDIRECT_URL:https://localhost:3000/authenticated}

allowed-services-for-callback : ccd_data,sscs_bulkscan  # comma separated list of service names

document_management.url: ${DOCUMENT_MANAGEMENT_URL:http://dm-store:5005}

schema.location: /schema/sscs-bulk-scan-schema.json

validation:
  titles: Cllr,Count,DC,Dr,DS,Insp,Lady,Lord,Miss,Mr & Mrs,Mr,Mrs,Ms,PC,Rev,S/M,Sgt

feature:
  debug_json: ${DEBUG_JSON:false}

readyToList:
  offices:

---
spring:
  profiles: dev
logging.level:
  org.springframework.web: ${LOG_LEVEL_SPRING_WEB:debug}
  uk.gov.hmcts.reform.sscs: ${LOG_LEVEL_SSCS:debug}
  uk.gov.hmcts.reform.sscs.idam.IdamApiClient: DEBUG
  uk.gov.hmcts.reform.ccd.client.CoreCaseDataApi: DEBUG

feign:
  client:
    config:
      idam-api:
        loggerLevel: full
      core-case-data-api:
        loggerLevel: full
