server:
  port: 8090

management:
  endpoints:
    web:
      base-path: /

spring:
  application:
    name: SscsBulkScan

ccd:
 case:
  jurisdiction: SSCS
  type: Benefit
  caseCreatedEventId: appealCreated
  incompleteApplicationEventId: incompleteApplicationReceived
  nonCompliantEventId: nonCompliant

test.url: ${TEST_URL:http://localhost:8090}

core_case_data:
  api:
    url: http://localhost:4452

idam:
  url: ${IDAM_URL:http://localhost:9999}
  s2s-auth:
    totp_secret: ${S2S_SECRET:AAAAAAAAAAAAAAAA}
    microservice: ${IDAM_S2S_AUTH_MICROSERVICE:ccd_data}
    url: ${IDAM_S2S_AUTH:http://localhost:4502}
  oauth2:
    user:
      email: SSCS_SYSTEM_UPDATE
      password: SSCS_SYSTEM_UPDATE
    client:
      id: sscs
      secret: QM5RQQ53LZFOSIXJ
    redirectUrl: ${IDAM_OAUTH2_REDIRECT_URL:https://localhost:9000/poc}

allowed-services-for-callback : ccd_data  # comma separated list of service names

schema.location: /schema/sscs-bulk-scan-schema.json
