server:
  port: 8090

management:
  endpoints:
    web:
      base-path: /

spring:
  application:
    name: SscsBulkScan

ccd:
 case:
  jurisdiction: SSCS
  type: Benefit
  caseCreatedEventId: appealCreated
  incompleteApplicationEventId: incompleteApplicationReceived
  nonCompliantEventId: nonCompliant

test.url: ${TEST_URL:http://localhost:8090}

core_case_data:
  jurisdictionId: ${CORE_CASE_DATA_JURISDICTION_ID:SSCS}
  caseTypeId: ${CORE_CASE_DATA_CASE_TYPE_ID:Benefit}
  api:
    url: ${CORE_CASE_DATA_API_URL:http://localhost:4452}

idam:
  url: ${IDAM_URL:http://localhost:4501}
  s2s-auth:
    totp_secret: ${S2S_SECRET:AAAAAAAAAAAAAAAD}
    microservice: ${IDAM_S2S_AUTH_MICROSERVICE:sscs_bulkscan}
    url: ${IDAM_S2S_AUTH:http://localhost:4502}
  oauth2:
    user:
      email: ${IDAM_OAUTH2_USER_EMAIL:SSCS_SYSTEM_UPDATE}
      password: ${IDAM_OAUTH2_USER_PASSWORD:SSCS_SYSTEM_UPDATE}
    client:
      id: ${IDAM_OAUTH2_CLIENT_ID:sscs}
      secret: ${IDAM_OAUTH2_CLIENT_SECRET:QM5RQQ53LZFOSIXJ}
    redirectUrl: ${IDAM_OAUTH2_REDIRECT_URL:https://localhost:9000/poc}

allowed-services-for-callback : ccd_data,sscs_bulkscan  # comma separated list of service names

document_management.url: ${DOCUMENT_MANAGEMENT_URL:http://localhost:4506}

schema.location: /schema/sscs-bulk-scan-schema.json

appeal:
  email:
    host: ${EMAIL_SERVER_HOST:localhost}
    port: ${EMAIL_SERVER_PORT:1025}
    smtp:
      tls.enabled: ${EMAIL_SMTP_TLS_ENABLED:true}
      ssl.trust: ${EMAIL_SMTP_SSL_TRUST:*}

robotics:
  email:
    from: ${ROBOTICS_EMAIL_FROM:sscs@hmcts.net}
    to: ${ROBOTICS_EMAIL_TO:receiver@hmcts.net}
    subject: ${ROBOTICS_EMAIL_SUBJECT:Robotics Data}
    message: ${ROBOTICS_EMAIL_MESSAGE:Please find attached the robotics json file \nPlease do not respond to this email}
    enabled: ${ROBOTICS_ENABLED:false}
  schema.resource.location: /schema/sscs-robotics.json

validation:
  titles: Doctor,Miss,Mr & Mrs,Mr,Mrs,Ms,Reverend,Sir / Madam
  dwp_offices: 1,2,3,4,5,6,7,8,9,10
