idam:
 s2s-auth:
  url: false

ccd:
 case:
  jurisdiction: SSCS
  type: Benefit
  caseCreatedEventId: appealCreated
  incompleteApplicationEventId: incompleteApplicationReceived
  nonCompliantEventId: nonCompliant

allowed-services-for-callback : test_service
